<template name="mainLayout">
<div id="wrap">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/">Logo here</a>
      </div>
      <ul class="nav navbar-nav">
        {{> menuUser}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
       {{> loginButtons}}
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
	{{> yield}}
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  </div>
</template>
